#about{
    background-color: var(--light-grey);
    width: 100%;
    height: auto;
    padding: 80px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container{
    flex-direction: row;
}

#container__image{
    width: auto;
    display: flex;

    justify-content: center;
    align-items: center;
}

#about__image{
    width: 449px;
    height: 491px;
    background-color: white;

    box-shadow: -30px -30px black;
}

#container__content{
    width: 40%;
    height: 500px;
    padding: 1.25rem;

    background-color: pink;
}

@media (max-width: 950px) {
    .about__container{
        flex-direction: column;
        gap: 10px;
    }

    #about__image{
        width: 100%;
        box-shadow: -10px -10px black;
    }

    #container__image, #container__content {
        width: 100%;
    }

}

@media (max-width: 700px) {
    #about__image{
        box-shadow: none;
    }
}
