#about{
    background-color: var(--light-grey);
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container{
    flex-direction: row;
}

#container__image{
    width: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#about__image{
    width: 449px;
    height: 491px;
    
    background-image: url('../images/minha_foto.jpg');
    background-repeat: no-repeat;
    background-size:cover;

    box-shadow: -30px -30px black;
}

#container__content{
    width: 40%;
    height: 500px;
    padding: 1.25rem;

    /* background-color: pink; */
}


/* GRADUATION */

 #container__graduation{
    display: flex;
    flex-direction: column;
    
    margin: 20px 0;
}

#graduation__title{
    margin-bottom: 20px;

    font-size: 1.25rem;
    font-weight: 700;
}

 .graduation__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
}

.graduation__item{
    width: 100%;
    background-color: #2f363e;
    padding: 15px;
    border-radius: 5px;

    margin-bottom: 10px; 
    text-align: center;  
}

.graduation__item h3{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.graduation__item h4{
    color: #ffffff;

    margin-bottom: 0.5rem;
}


.graduation__item p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
} 



@media (max-width: 950px) {
    .about__container{
        flex-direction: column;
        gap: 10px;
    }

    #about__image{
        width: 100%;
        box-shadow: -10px -10px black;
    }

    #container__image, #container__content {
        width: 100%;
    }

}

@media (max-width: 700px) {
    #about__image{
        box-shadow: none;
    }
}
