#presentation{
    width: 100%;
    height: auto;
    padding: 20% 0;
    background-color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.presentation__container{
    flex-direction: column;
    margin: 0 auto;
}

.presentation__container h1{
    font-size: 64px;
    font-weight: 700;
    color: var(--white);

    margin-bottom: 0.625rem;
}

.presentation__container h1 strong{
    color: var(--yellow);
}

.presentation__container p{
    font-size: 26px;
    letter-spacing: .625rem;

    color: var(--white);
}

@media (max-width: 605px) {
    .presentation__container h1{
        font-size: 45px;
    }

    .presentation__container p{
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .presentation__container h1{
        font-size: 38px;
    }

    .presentation__container p{
        font-size: 15px;
    }  
}
