:root{
    --inconsolata: 'Inconsolata', monospace;
    --black: #1D1E20;
    --light-grey: #ECECEC;
    --white: #FFFFFF;
    --yellow: #fff200;
}

body{
    font-family: var(--inconsolata);
    overflow-x: hidden;
}

header{
    width: 100%;
    padding: 1.25rem;    
    background: var(--black);   
}

#navbar{
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: lavender;  */
}

nav{
    /* background-color: pink; */
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

nav li{
    list-style: none;
}

nav a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: var(--yellow);
    text-decoration:underline;
}

.container{
    width: 80%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container__title{
    margin-bottom: 1.5rem;
}

.section__title{
    position: relative;
    font-size: 36px;
    font-weight: 700;
}

.section__title:before {
    content: '';
    position: absolute;
    bottom: -0.625rem;
    left: 0;
    width: 3.625rem;
    height: .1875rem;
    background-color: var(--yellow);
}

#presentation{
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-direction: center;

    padding: 3.75rem;
}

/* .presentation__links{
    margin-bottom: 50px;
} */

.presentation__links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: center;

    margin-bottom: 20px;
}

.presentation__links li{
    list-style: none;
}

.presentation__links i{
    color: var(--white);
    font-size: 26px;
    padding: 4px;

    transition: .4s;
}

.presentation__links i:hover{
    color: var(--yellow);
}

/* Responsive */

@media (max-width: 700px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 605px) {
    nav a {
        font-size: 18px;
    }
}

@media (max-width: 533px) {
    #navbar {
        visibility: hidden;
    }
}