*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#timeline{
    background-color: var(--black);
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.container__timeline{
    width: 80%;
    /* min-height: 100vh; */
    /* padding: 20px 100px; */
}


#timeline__title{
    color: white;
    margin-bottom: 1.5rem;
}

.container__timeline p{
    color: white;
    
}


.timeline__items{
    /* max-width: 1000px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline__items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%; 
    background-color: #2f363e;
    left: calc(50% - 1px);
}

.timeline__item{    
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline__item:last-child{
    margin-bottom: 0;
}

.timeline__item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline__item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline__dot{
    height: 16px;
    width: 16px;
    background-color: var(--yellow);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline__date{
    font-size: 18px;
    color: var(--yellow);
    margin: 6px 0 15px;
}

.timeline__content{
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
}

.timeline__content h3{
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 5px;
    font-weight: 700;
}

.timeline__content h4{
    font-size: 18px;
    color: var(--yellow);
    margin: 0 0 5px;
    font-weight: 500;
}

.timeline__content p{
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

@media(max-width: 767px){
    .timeline__items::before{
        left: 7px;
    }
    .timeline__item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline__item:nth-child(odd),
    .timeline__item:nth-child(even){
        padding-left: 37px;
    }

    .timeline__dot{
        left: 0;
    }
}